{% extends "layout.html" %}

{% block title %}
    HISTORY
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>

        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for row in tansactions%}
      <tr>

        <td>{{ row["symbol"] }}</td>
        <td>{{row["shares"] }}</td>
        <td> ${{ row["price"] }}</td>

        <td>$ {{ row["date"] }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
